<div id="game">
    <div class="form-search form-inline">
        <input type="number" class="form-control input-lg">
        <button id="game-button" class="btn btn-primary btn-lg">гадаю</button>
    </div>
    <br/>
    <div class="form-search form-inline">
        <button class="btn btn-warning btn-lg" onclick="fasade.init()">рестарт</button>
    </div>
    <br/>
    <div id="result" class="panel panel-default">
        <div class="panel-heading">Результаты:</div>
        <div  class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>число</td>
                    <td>быки</td>
                    <td>коровы</td>
                </tr>
                </thead>
                <tbody id="history-input"></tbody>
            </table>
        </div>
    </div>
</div>


